/* .share-tech-mono-regular {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
} */
.back-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 15px 30px;
  background-color: #dd9a05;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
  z-index: 1000;
}
.back-button:hover {
  background-color: #cc8c04;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.logo9 {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 100px;
  z-index: 1000;
}
/* .watermark {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    z-index: 1000;
  } */

body {
  margin: 0;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.splash-screen {
  position: relative;
  width: 300px;
  height: 300px;
}

.logo {
  position: absolute;
  width: 160px;
  height: 160px;
  opacity: 0;
}

.logo1 {
  animation: fadeInMoveUp 2s forwards, fadeOut 1s 4s forwards;
}

.logo2 {
  animation: fadeInMoveRight 2s 1s forwards, fadeOut 1s 4s forwards;
}

@keyframes fadeInMoveUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInMoveRight {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(113px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
